.container h1 {
  display: flex;
  justify-content: center;
  max-width: 95%;
  margin-top: 20px;
  background-color: rgb(223, 213, 213);
}
nav {
  padding: 10px;
  background-color: hotpink;
  display: flex;
  justify-content: end;
}

.nav-item {
  padding: 10px;
  background-color: honeydew;
  display: flex;
  justify-items: end;
}
