body {
    padding-top: 20px !important;
    padding-left: 40px;
}
h3 {
    margin-top: 10px;
}

.row {
    margin-bottom: 20px;
  }
  
  [class*="col-"] {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: aliceblue;
    border: 1px solid rgb(176, 185, 192);
    
  }

.card {
  /* align-items: stretch; */
  align-content: space-between !important;
}

  